.hero {
    text-align: center;
    padding: 8rem 1.5rem 3rem; // Padding top alto por el header fixed
    background-color: darken($color-bg-dark, 2%);
    border-bottom: 2px solid $color-primary;

    &__title {
        font-size: 2.5rem;
        color: $color-accent;
        margin-bottom: 1rem;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

        @include tablet {
            font-size: 3.5rem;
        }
    }

    &__text {
        font-size: 1.1rem;
        max-width: 800px;
        margin: 0 auto 2rem;
        color: $color-text-muted;
    }

    &__btn {
        display: inline-block;
        background-color: $color-accent;
        color: white;
        padding: 0.8rem 2rem;
        border-radius: 50px;
        font-weight: bold;
        box-shadow: 0 4px 15px rgba($color-accent, 0.4);
        transition: transform 0.2s, background 0.2s;

        &:hover {
            background-color: lighten($color-accent, 5%);
            transform: translateY(-3px);
        }
    }

    
}