.u-text-center {
    text-align: center;
  }
  
  .u-hidden {
    display: none;
  }
  
  .u-mb-sm {
    margin-bottom: 0.5rem;
  }
  
  .u-mb-md {
    margin-bottom: 1rem;
  }
  
  .u-mb-lg {
    margin-bottom: 2rem;
  }
  
  .u-mt-sm {
    margin-top: 0.5rem;
  }
  
  .u-mt-md {
    margin-top: 1rem;
  }
  
  .u-mt-lg {
    margin-top: 2rem;
  }
  