@import 'variables';

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'tablet' {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $breakpoint == 'desktop' {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }
}